---
import type { Page, GetStaticPathsOptions } from "astro";
import type { CollectionEntry } from "astro:content";
import { css } from "root/styled-system/css";
import { getBlogEntries } from "@/lib/blog";
import Layout from "@/layouts/Layout.astro";
import ArticleCard from "@/components/PostCard.astro";
import Pagenation from "@/components/Pagenation.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(await getBlogEntries(), { pageSize: 9 });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<"blog">>;
};

const defauleLayoutStyle = css({
  display: "flex",
  flexDirection: "column",
  flex: 1,
});

const articleListStyle = css({
  m: 0,
  p: 0,
  listStyle: "none",
  display: "grid",
  gridTemplateColumns: "repeat(2, minmax(0, 1fr))",
  gap: "1rem",
  md: {
    gridTemplateColumns: "repeat(3, minmax(0, 1fr))",
    gap: "1.5rem",
  },
});
---

<Layout>
  <main class={defauleLayoutStyle}>
    <ul class={articleListStyle}>
      {
        page.data.map(({ data, slug }) => (
          <ArticleCard frontmatter={data} slug={slug} />
        ))
      }
    </ul>
  </main>
  <Pagenation prev={page.url.prev} next={page.url.next} />
</Layout>
