---
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE } from "@/consts";

interface Props {
  title: string;
  description: string;
  image?: URL;
}

const { title, description, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

console.log(image);
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="author" content="hayapo" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:site_name" content={SITE_TITLE} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />

  <!-- Open Graph / Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:creator" content="@hayapo__" />

  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="apple-mobile-web-app-title" content="hayapo::blog" />
  <meta name="application-name" content="hayapo::blog" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Use View Transitions API -->
  <ViewTransitions />
</head>

<script is:inline>
  const root = document.documentElement;
  const theme = (() => {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();
  const switchTheme = () => {
    if (theme === "light") {
      root.classList.remove("dark");
    } else {
      root.classList.add("dark");
    }
  };
  switchTheme();
  document.addEventListener('astro:after-swap', switchTheme);
</script>
