---
import { css } from "root/styled-system/css";
import { Sprite } from "astro-icon";
import { Image } from "astro:assets";
import { SITE_TITLE } from "@/consts";
import hatebu from "root/public/hatebu.webp";
import ShareButton from "./ShareButton.astro";

interface Props {
  title: string;
  url: string;
  className?: string;
}

const { title, url, className } = Astro.props;

const titleShareText = `${title} - ${SITE_TITLE}`;

const trimedCurrentUrl = url.replace(/^https:\/\//, "");

const twitterShareUrl = `https://x.com/intent/tweet?url=${url}&text=${titleShareText}%0a`;
const hatbuBookmarkUrl = `https://b.hatena.ne.jp/entry/s/${trimedCurrentUrl}##bbutton`;

const twitterIconSize = 20;
const hatenaIconSize = twitterIconSize + 5;
---

<div
  class:list={[
    css({
      display: "flex",
      alignItems: "center",
      justifyContent: "center",
      gap: "1.5rem",
    }),
    className,
  ]}
>
  <ShareButton
    href={twitterShareUrl}
    text="ツイート"
    bgColor={css({ bg: "twitterBlue" })}
  >
    <Sprite
      name="mdi:twitter"
      class={css({
        color: "twitterWhite",
        w: twitterIconSize,
        h: twitterIconSize,
      })}
    />
  </ShareButton>
  <ShareButton
    href={hatbuBookmarkUrl}
    text="ブックマーク"
    bgColor={css({ bg: "hatebuBlue" })}
    isHatena
  >
    <Image
      src={hatebu}
      alt="hatebu"
      width={hatenaIconSize}
      height={hatenaIconSize}
    />
  </ShareButton>
</div>
