---
import type { CollectionEntry } from "astro:content";
import { css } from "root/styled-system/css";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import UnsplashCredit from "@/components/UnsplashCredit.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  publishDate,
  updatedDate,
  coverImage,
  imageCredit,
} = Astro.props;
---

<Layout title={title} description={description} image={coverImage.src}>
  <body>
    <div class={css({ fontSize: "xxx-large" })}>{title}</div>
    <div class={css({ fontSize: "large" })}>
      <FormattedDate date={publishDate} />
      {
        updatedDate && (
          <span>
            <span>更新日:</span>
            <FormattedDate date={updatedDate} />
          </span>
        )
      }
    </div>
    <div class={css({ my: "1.5rem" })}>
      <Image
        src={coverImage}
        alt={title}
        width={coverImage.width / 1.5}
        height={coverImage.height / 1.5}
        class={css({ w: "100%", opacity: 1, objectFit: "cover" })}
      />
      {
        imageCredit && (
          <UnsplashCredit
            author={imageCredit.author}
            authorUrl={imageCredit.authorUrl}
          />
        )
      }
    </div>
    <article>
      <slot />
    </article>
  </body>
</Layout>
